################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/WindowsFunctionAppUnitTests/bin/Debug/net8.0
/src/WindowsFunctionAppUnitTests/obj
iac/terraform/.terraform.lock.hcl
iac/terraform/terraform.tfstate
iac/terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.0.0/windows_amd64/terraform-provider-azurerm_v3.0.0_x5.exe
iac/terraform/.terraform.tfstate.lock.info
iac/terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.7.0/windows_amd64/terraform-provider-azurerm_v3.7.0_x5.exe
iac/terraform/terraform.tfstate.backup
iac/terraform/.terraform/terraform.tfstate
iac/terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.94.0/windows_amd64/terraform-provider-azurerm_v3.94.0_x5.exe
src/LinuxFunctionAppUnitTests/obj/Debug/net8.0/LinuxFunctionAppUnitTests.AssemblyInfo.cs
src/LinuxFunctionAppUnitTests/obj/Debug/net8.0/LinuxFunctionAppUnitTests.AssemblyInfoInputs.cache
src/LinuxFunctionAppUnitTests/bin/Debug/net8.0/CoverletSourceRootsMapping_LinuxFunctionAppUnitTests
src/LinuxFunctionAppUnitTests/obj/Debug/net8.0/LinuxFunctionAppUnitTests.AssemblyInfo.cs
/src/LinuxFunctionAppUnitTests/bin/Debug/net8.0/CoverletSourceRootsMapping_LinuxFunctionAppUnitTests
/src/LinuxFunctionAppUnitTests/obj/Debug/net8.0/LinuxFunctionAppUnitTests.AssemblyInfo.cs
/src/LinuxFunctionAppUnitTests/obj/Debug/net8.0/LinuxFunctionAppUnitTests.AssemblyInfoInputs.cache
/src/LinuxFunctionAppUnitTests/obj/Debug/net8.0/LinuxFunctionAppUnitTests.assets.cache
/src/LinuxFunctionAppUnitTests/obj/Debug/net8.0/LinuxFunctionAppUnitTests.csproj.AssemblyReference.cache
/src/LinuxFunctionAppUnitTests/obj/Debug/net8.0/LinuxFunctionAppUnitTests.GeneratedMSBuildEditorConfig.editorconfig
/src/LinuxFunctionAppUnitTests/obj/LinuxFunctionAppUnitTests.csproj.nuget.dgspec.json
/src/LinuxFunctionAppUnitTests/obj/LinuxFunctionAppUnitTests.csproj.nuget.g.props
/src/LinuxFunctionAppUnitTests/obj/project.assets.json
/src/LinuxFunctionAppUnitTests/obj/project.nuget.cache
